<div class="flex align-items-center justify-content-center min-h-screen" style="background-color: #f0f0f0;">
  <div class="col-12 md:col-4 p-4">

    <div class="text-center mb-5">
      <img src="/images/logo.png" alt="MediSupply" height="280">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="w-full mb-3">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usuario">
        <mat-error *ngIf="loginForm.get('usuario')?.hasError('required')">
          Usuario es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full mb-4">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Contraseña es requerida
        </mat-error>
      </mat-form-field>

      <button
        matButton="filled"
        type="submit"
        class="w-full mb-3"
        [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading">Ingresar</span>
        <span *ngIf="isLoading">Cargando...</span>
      </button>

      <div class="text-center">
        <a href="#">Crear cuenta</a>
      </div>

    </form>
  </div>
</div>
